@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/





/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*banner start here*/
.bg_color {
  width: 100%;
  background-image: linear-gradient(to right, #554876, #7a3e7a);
  text-align: center;
}

.title {
  width: 28%;;
  border-right: 1px solid #696969;
  margin: 174px 0;
  display: inline-block;
  color: #ffffff;
  font-size: xx-large;
  text-align: left;

}

.title span {
  text-transform: uppercase;
}

.information {
  width: 28%;
  margin: 174px 0;
  display: inline-block;
  color: #808080;
  font-size: 12px;
  text-align: left;

}

.btn_title {
  width: 30%;
  padding: 10px 3%;
  border-radius: 40px;
  margin-top: 20px;
  display: block;
  background-color: #0b966a;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

/*banner ends here*/
/*section starts here */
.facility {
  border-bottom: 1px solid #696969;
  text-align: center;
}

h1 {
  color: #696969;
  font-size: x-large;
}

.description {
  width: 35%;
  border-right: 1px solid #696969;
  margin: 62px 2%;
  display: inline-block;
  color: #808080;
  font-size: small;
  text-align: left;
}

.description p {
  margin: 32px 0;

}

.btn_section {
  width: 30%;
  padding: 10px 3%;
  border: 1px solid #696969;
  border-radius: 40px;
  display: block;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.service {
  width: 35%;
  margin: 62px 2%;
  display: inline-block;
  color: #808080;
  text-align: left;
}

.service ul li {
  padding: 7px 0;
  margin: 10px 0;
  display: block;
  font-size: small;
  text-transform: capitalize;
  list-style-image: url('/assets/images/check.png');

}

/*section ends here */

/*article starts here*/
.article {
  width: 100%;
  text-align: center;
}

.article li {
  width: 65%;
}

.article_item {
  margin: 40px 0;
}

figure {
  width: 40%;
  float: left;
}

.figure_information {
  width: 60%;
  border-bottom: 1px solid #808080;
  display: inline-block;
  text-align: left;

}

.figure_title {
  display: inline-block;
  margin: 75px 0 0 7%;
  color: #696969;
  font-size: large;
  text-transform: capitalize;
}

.figure_description {
  margin: 37px 7%;
  display: inline-block;
  color: #696969;
  font-size: small;
  text-align: left;
}

.btn_article_item {
  width: 20%;
  padding: 5px 3%;
  border: 1px solid #808080;
  border-radius: 40px;
  margin: 0 0 30px 7%;
  display: block;
  background-color: #ffffff;
  color: #696969;
  text-align: center;
  text-transform: capitalize;
}

.btn_article {
  width: 10%;
  padding: 10px 5%;
  border: 1px solid #808080;
  border-radius: 40px;
  margin: 40px 45% 130px 40%;
  display: block;
  background-color: #ffffff;
  color: #696969;
  text-align: center;
  text-transform: capitalize;
}

/*article end here*/


.contact_form {
  width: 40%;
  margin: 40px 0;
  display: block;
  float: inline-start;

}

h2 {
  margin: 37px 0;
  text-transform: capitalize;
  font-size: x-large;
}

.contact_form p {
  font-size: small;
  margin: 37px 0;
}

.contact_links {
  width: 40%;
  margin-right: 5%;
  display: block;
  float:right;
 
}

.input_fname,
.input_email {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
}

input {
  padding: 5px 4%;
}

.input_txtarea {
  width:100%;
  margin: 24px 0;
}

input[type=button] {
  width: 30%;
  padding: 10px 5%;
  border: 1px solid #000000;
  border-radius: 40px;
  display: block;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.contact_links ul li {
  display: block;
}

.contact_links span {
  text-indent: -9999%;
}

.copyright {
  width: 100%;
  padding: 50px 0;
  background-color: #808080;
  text-align: center;
}

/*footer ends here */
a {
  text-decoration: none;
}








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.contact_form {
  width: 40%;
  border-right: 1px solid #696969;
  margin-left: 7%;
  display: inline-block;
  


}

h2 {
  color: #696969;
  font-size: x-large;
  text-transform: capitalize;
}

.contact_form p {
  margin: 35px 0;
  color: #696969;
  font-size: small;
}

.contact_links {
  width: 40%;
  margin-right: 5%;
  display: inline-block;
  
}
form{
  max-width: 80%;
}

.input_fname,
.input_email {
  display: inline-block;
  margin:0 3%;
}

input {
  width:100%;
  padding: 5px ;
}

textarea {
  width: 100%;
  margin: 24px 0;
}

input[type=button] {
  width: 40%;
  padding: 10px 5%;
  border: 1px solid #000000;
  border-radius: 40px;
  display: block;
  background-color: #ffffff;
  color: #000000;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
}


.contact_links ul {
  margin: 40px 0;
}

.contact_links ul li {
  padding: 5px 0;
  display: block;
  text-align: left;
}

.contact_links span {
  text-indent: -9999%;
}

.copyright {
  padding: 50px 0;
  border-top: 1px solid #808080;
  background-color: #ffffff;
  color:#808080;
  font-size: small;
  text-align: center;
}

/*footer ends here */
a {
  text-decoration: none;
}



/*=================================
  footer styling ends here
=================================*/
/* hover effects starts here */
.btn_title:hover,
.btn_section:hover,
.btn_article_item:hover,
.btn_article:hover,
input[type=button]:hover {
  background-color: #808080;
  color: #ffffff;
}

/*hover effects end here*/

/* icon */
.icon{
  text-indent: -9999px;
}
/*icon ends here*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}