@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65%; 
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  padding: 10px 3%;
  border-radius: 50px;
  color: #5c6165;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.error{
  display: none;
}
/*=================================
  main styling starts here
=================================*/
.wrapper { display: flex; }


.hero-section {
  padding: 175px 0 75px 0;
  background-image: linear-gradient(to right,#50426c, #6e396f);
}

.title {
  width: 50%;
  padding-right: 5% ;
  display: inline-block;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  text-align: left;
  box-shadow: 1px 0 #644b72;
  line-height: 1.4;
  
}

.title span {
  color:#fff;
  text-transform: uppercase;
}

.about {
  width: 50%;
  padding:0 0 0 4.2%;
  display: inline-block;
}

.about-us {
  padding: 0 0 23px 0;
  color: #9a8ba8;
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  line-height: 1.4;

}

.title-btn {
  width:30%;
  background-color: #42aa7d;
  color: #e5e5e5;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

/*info starts here*/

.info {
  padding: 60px 0;
  background-color: #fff;
  box-shadow: 0 1px #9a857f;
}

.details {
  width: 50%;
  display: inline-block;
  box-shadow: 2px 0 #cdcdcd;
}

.info-title {
  color: #5c5c5c;
  font-size: 24px;
  font-weight: 600;
}

.description {
  padding: 30px 40px 30px 0;
  color: #8d8589;
  font-size: 12px;
  line-height: 2;
}

.info-btn {
  width:25%;
  border: 1px solid #cdcdcd;
}

/*info ends here*/
.facilities {
  width: 50%;
  display: inline-block;
}

.services {padding: 8px 5%;}

.service {
  padding: 0 0 27px 8%;
  display: block;
  color: #8d8589;
  font-size: 12px;
  text-align: left;
}

/*facility end here*/

/*article start here*/

.article {
  padding: 64px 0;
  background-color: #fafafa;
}

figure {
  width: 40%;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
}

.card-info {
  box-sizing: border-box;
  width: 60%;
  padding: 73px 40px;
  display: inline-block;
  box-shadow: 0 1px #cdcdcd;
}

.card {
  margin-bottom: 40px;
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.card-title {
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-description {
  padding:30px 0;
  color: #918386;
  font-size: 12px;
}

.btn-card {
  width: 20%;
  border: 1px solid#cdcdcd;
}

.show-more {
  background-color: #fafafa;
  box-shadow: none;
}

.btn-article {
  width: 20%;
  border: 1px solid#cdcdcd;
  font-size: 12px ;
  font-weight: 600;
}

/*article end here*/
.contact {
  padding: 63px 0;
  background-color: #fff;
  box-shadow: 0px 1px #cdcdcd;
}

.contact-form {
  width: 50%;
  display: inline-block;
  box-shadow: 1px 0 #cdcdcd;
}

.contact-title {
  color: #5d5c5c;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.contact-info {
  padding: 36px 0 31px 0;
  margin-right:4% ;
  color: #7d6e6d;
  font-size: 12px;
  font-weight: 400;
}

.contact-info::first-letter {text-transform: capitalize;}

.contact-links {
  width: 50%;
  display: inline-block;
}

.contacts li a {
  color:#7d6e6d;
  font-size: 12px;
}

.input-fname {
  width: 39%;
  margin: 0 13% 0 0;
  display: inline-block;
  font-size: 12px;
}

.input-email {
  width: 39%;
  display: inline-block;
  font-size: 12px;
}

input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
}

.txtarea {
  width: 100%;
  padding: 27px 0;
}

textarea {
  width: 90%;
  border: 1px solid #ccc;
}

.btn-form {text-align: left;}

input[type=button] {
  width: 35%;
  border: 1px solid #ccc;
  border-radius:50px ;
  background-color: #fafafa;
  color:#717476;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  /* box-shadow: 1px 1px 2px 2px #8a8383; */
}

.contacts li {
  padding: 0 0 20px 5%;
  display: block;
  color:#717476;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/*footer start here*/
.copyright {
  padding: 53px 0;
  background-color: #fafafa;
  color:#b7acac;
  font-size: 16px;

}

.copyright p {
  width: 100%;
  text-align: center;
}
 /*=================================
  footer styling ends here
=================================*/ 
a {text-decoration: none;}

.btn:hover {
  background-color: #5d5c5c;
  color:#fff;
}

input[type=button]:hover{
  background-color: #5d5c5c;
  color:#fff;
}

input::placeholder {
  font-size: 10px ;
  padding-right:20% ;
}

.icon:hover{color: #000}
/*icon start here*/

.tick::before {

  font-size: 0;
  margin: 0 2%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f00c";
}

.twitter::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f099";
}

.facebook::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f09a";
}

.insta::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f16d";
}

.email::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f0e0";
}

.email::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f0e0";
}

.home::before {
  margin: 0 5%;
  color: #49bd8b;
  font-family: "FontAwesome";
  font-size: 12px;
  font-weight: 900;
  content: "\f015";
}

/*media query starts*/

/*media query for 1196*/

@media only screen and (max-width: 1196px){

  .title {
    width: 50%;
    padding-right:2.5% ;
    font-size: 32px;
    line-height: 1.4;
    
  }
}
@media only screen and (max-width: 1086px){
  .title{
    width: 50%;
    padding-right: 2.5%;
    font-size: 30px;
    line-height: 1.4;
    
  }
}
/*1196 end here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .hero-section {padding: 100px 0 55px 0;}

  .btn {
    font-size: 12px;
    font-weight: 400;
  }

  .title {
    width: 50%;
    padding-right: 2.5% ;
    font-size: 26px;
    line-height: 1.4;
  }

  /*info styling*/

  .info-title {font-size: 16px;}

  .description {
    padding: 30px 40px 30px 0;
    font-size: 12px;
  }
  .title-btn {width: 35%;}
  .info-btn {width:30%;}

  /*info ends here*/

  .facility {width: 50%;}

  .services {padding: 8px 0;}

  .service {
    padding:0px 0 27px 8%;
    font-size: 12px;
  }

  /*facility end here*/
  
  /*article start here*/

  .article {padding: 64px 0;}

  figure {width: 40%;}

  img {
    width: 100%;
    height: 100%;
  }

  .card-info {
    width: 60%;
    padding: 73px 40px;
  }

  .card { margin: 0 0 40px 0}

  .card-title { font-size: 20px;}

  .card-description {
    padding:30px 0;
    font-size: 14px;
  }

  .btn-card {width: 25%;}

  .btn_article {width: 20%;}

  /*article end here*/

  .contact { padding: 63px 0;}

  .contact-form {width: 50%;}

  .contact-title {font-size: 20px;}

  .contact-info {
    padding: 36px 0 31px 0;
    font-size: 12px;
  }

  .contact-links { width: 50%;}

  .contacts li a {font-size: 12px;}

  .input-fname {
    width: 37%;
    margin: 0 15% 0 0;
  }

  .input-email {width: 37%;}

  input {
    width: 100%;
    padding: 10px 0;
  }

  .txtarea {
    width: 100%;
    padding: 27px 0;
  }

  textarea {width: 90%;}

  input[type=button] {width: 35%;}

  .contacts li {padding: 0 0 20px 40px;}

  
  /*=================================
    main styling ends here
  =================================*/
  
  /*=================================
    footer styling starts here
  =================================*/ 
  
  /*footer start here*/

  .copyright {
    padding: 25px 0;
    font-size: 12px;
  
  }

}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .hero-section {padding: 100px 0 55px 0;}

  .btn {
    font-size: 12px;
    font-weight: 400;
  }

  .title-btn {
    width:40%;
    font-size: 10px;
  }
  .title {
    width: 50%;
    padding:0 2.5% 0 0;
    font-size: 21px;
    line-height: 1.4;
    
  }

  .about{font-size: 18px;}

  /*info styling*/

  .info-title {font-size: 20px;}

  .description {
    padding: 30px 40px 30px 0;
    font-size: 15px;
  }

  .info-btn {width:35%;}

  /*info ends here*/

  .facility { width: 50%;}

  .services {padding: 8px 0;}

  .service {
    padding:0px 0 27px 8%;
    font-size: 15px;
  }

  /*facility end here*/
  
  /*article start here*/

  .article {padding: 64px 0;}

  figure {width: 40%;}

  img {
    width: 100%;
    height: 100%;
  }

  .card-info {
    width: 60%;
    padding:35px 20px;
  }

  .card {padding-bottom:  20px;}

  .card-title {font-size: 16px;}

  .card-description {
    padding:30px 0;
    font-size: 15px;
  }

  .btn-card {width: 30%;}


  .btn-article {width: 35%;}

  /*article end here*/
  .contact {padding: 63px 0;}

  .contact-form {width: 50%;}

  .contact-title {font-size: 20px;}

  .contact-info {
    padding: 36px 0 31px 0;
    font-size: 15px;
  }

  .contact-links {width: 50%;}

  .contacts li a {font-size: 15px;}

  .input-fname {
    width: 90%;
    margin-bottom: 10px;
  }
  
  .input-email {width: 90%;}

  input {
    width: 100%;
    padding: 10px 0;
  }

  .txtarea {
    width: 100%;
    padding: 27px 0;
  }

  textarea{width: 90%;}

  input[type=button]{width: 45%;}

  .contacts li {padding: 0 0 20px 40px;}
  
  /*=================================
    main styling ends here
  =================================*/
  
  /*=================================
    footer styling starts here
  =================================*/ 
  
  /*footer start here*/
  .copyright {
    padding: 25px 0;
    font-size: 12px;
  
  }


}  

/* media query for 540px starts here */
 @media only screen and (max-width: 540px) {
  .wrapper {width: 90%;}

  .title {
    width:100%;
    font-size: 26px;
  }
  
  .btn {font-size: 10px;}

  .about {
    width: 100%;
    font-size: 16px;
  }

  .title-btn {width: 40%;}

  .info-btn {width: 35%;}

  .card-info { padding: 0 2%;}

  .btn-card {
    width: 30%;
    margin-bottom: 5px;
  }

  .btn-article { width: 45%;}

  .input-fname {
    width: 92%;
    margin-bottom:10px;
  }

  .input-email {width: 92%;}
  
  input { width: 100%;}

  input[type=button]{
    width: 50%;
  }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
    display: block;
    text-align: center;
  }
  .title {
    width:100%;
    display: block;
    margin-bottom:10px ;
    font-size: 26px;
    text-align: center;
    box-shadow:0 1px #644b72;
  }
  
  .btn {font-size: 12px;}
  .about {
    width: 100%;
    padding: 0;
    display: block;
  }
  .title-btn {width: 30%;}

  .info-title {font-size: 20px;}

  .description {
    font-size: 12px;
    text-align: justify;
  }

  .details {
    width: 100%;
    padding: 20px 0;
    box-shadow: none;
    box-shadow: 0 1px #5c5c5c;
  }
  .description {
    padding: 20px 0;
    margin: 0;
    text-align: justify;
  }

  .facilities{width: 100%;}
  .services {padding: 15px 0;}

  .service {
    padding-left: 0 ;
    font-size: 15px;
    text-align: center;
   }

  .info-btn { width: 25%;}

  .card-info {
    padding: 0 2%;
    text-align: justify;
  }

  .btn-card {
    width: 45%;
    margin-bottom: 5px;
  }

  .btn-article{ width: 40%;}

  .input-fname {
    width: 92%;
    padding: 0;
    margin:10px 0 ;
  }

  .article {padding: 10px 0;} 

  .contact {padding: 10px 0;}

  .contact-title {font-size: 20px;}

  .contact-form { 
    width: 100%;
    box-shadow: 0 1px #5c5c5c;
  }

  .contact-info {
    width:100%;
    font-size: 15px;
    text-align: justify;
  }

  .input-email {width: 92%;}
  
  input { width: 100%;}

  input[type=button]{width: 40%;}

  .btn-form {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .contact-links {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .contact li {padding: 10px 0;}

  .copyright {font-size: 12px;}
}

@media only screen and (max-width: 320px) {
  .wrapper {
    width: 90%;
    display: block;
    text-align: center;
  }
  .title {
    width:100%;
    display: block;
    margin-bottom:10px ;
    font-size: 25px;
    text-align: justify;
    box-shadow:0 1px #644b72;
  }
  
  .about {
    width: 100%;
    padding: 0;
    display: block;
  }
  .title-btn {width: 40%;}

  .details {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #5c5c5c;
  }
  .description {
    padding: 20px 0;
    margin: 0;
    text-align: justify;
  }

  .services {padding: 15px 0;}
  .service {padding-left: 0 ; }
  .info-btn { width: 30%;}

  .card-info {padding: 0 2%;}

  .card-description {
    padding: 10px 0;
    text-align: justify;
  }
  
  .btn-card {
    width: 45%;
    margin-bottom: 5px;
  }

  .btn-article{ width: 45%;}

  .input-fname {
    width: 92%;
    padding: 0;
    margin:10px 0 ;
  }

  .article {padding: 10px 0;} 

  .contact {padding: 10px 0;}

  .contact-form { width: 100%;}
  .contact-info {
    width:100%;
    text-align: justify;
  }

  .input-email {width: 92%;}
  
  input { width: 100%;}

  input[type=button]{width: 50%;}

  .btn-form {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .contact-links {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .contact li {padding: 10px 0;}
}