@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65%; 
  margin: 0 auto;
}
  

/*=================================
  main styling starts here
=================================*/
.wrapper{
  display: flex;
}
.btn{
  padding: 12px 3%;
  border-radius: 50px;
  color: #5c6165;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.hero-section{
  background-image: linear-gradient(to right,#50426c, #6e396f);
  padding: 175px 0 75px 0;
}
.title{
  width: 50%;
  padding:0 55px 0 0;
  display: inline-block;
  color: #e5e5e5;
  font-size: 31px;
  font-weight: 900;
  text-align: justify;
  box-shadow: 1px 0 #644b72;
  line-height: 1.4;
  
}
.title a{
  color:#e5e5e5;
  text-transform: uppercase;
}
.about{
  width: 50%;
  padding:0 0 0 6%;
  display: inline-block;
}
.about-us{
  padding: 0 0 23px 0;
  color: #9a8ba8;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;

}
.title-btn{
  width:32%;
  background-color: #42aa7d;
  color: #e5e5e5;
  font-size: 10px;
  text-transform: uppercase;
}
/*info starts here*/
.info{
  padding: 60px 0;
  background-color: #e5e5e5;
  box-shadow: 0 1px #9a857f;
}
.details{
  width: 50%;
  display: inline-block;
  box-shadow: 2px 0 #cdcdcd;
}
.info-title{
  color: #5c5c5c;
  font-size: 26px;
  font-weight: 700;
}
.description{
  padding: 30px 40px 30px 0;
  color: #8d8589;
  font-size: 12px;
  line-height: 2;
}
.info-btn{
  width:28%;
  border: 1px solid #cdcdcd;
}
.facility{
  width: 50%;
  display: inline-block;
}

.service{
  padding:10px 0 10px 8%;
  display: block;
  color: #8d8589;
  font-size: 12px;
}
.article{
  background-color: #e1e1e1;
  padding: 64px 0;
}
figure{
  width: 40%;
  display: inline-block;
}
img{
  width: 100%;
  height: auto;
}
.card-info{
  width: 60%;
  padding: 73px 40px;
  display: inline-block;
}
.card{
  padding: 0 0 40px 0;
  display: flex;
  background-color: #e5e5e5;
  justify-content: center;
  box-shadow: 0 1px #cdcdcd;
}
.card-title{
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 600;
}
.card-description{
  padding:30px 0;
  color: #918386;
  font-size: 14px;
}
.btn-card{
  width: 20%;
  border: 1px solid#cdcdcd;
}
.show-more{
  background-color: #e1e1e1;
  box-shadow: none;
}
.btn_article{
  width: 18%;
  border: 1px solid#cdcdcd;
}
.contact{
  padding: 63px 0;
  background-color: #e5e5e5;
  box-shadow: 0 1px #cacaca;
}
.contact-form{
  width: 50%;
  display: inline-block;
  box-shadow: 1px 0 #cdcdcd;
}
.contact-title{
  color: #5d5c5c;
  font-size: 24px;
  font-weight: 600px;
}
.contact-info{
  padding: 36px 0 31px 0;
  color: #7d6e6d;
  font-size: 14px;
}
.contact-links{
  width: 50%;
  display: inline-block;
}
.input-fname{
  width: 45%;
  padding:0 26px 0 0;
  display: inline-block;
}.input-email{
  width: 45%;;
  display: inline-block;
}
input{
  padding: 10px 0;
}
.txtarea{
  width: 100%;
  padding: 27px 0;
}
textarea{
  width: 90%;
}
.btn-form{
  text-align: left;
}
input[type=button]{
  width: 35%;
  border: 1px solid #d2d2d2;
  border-radius:50px ;
  color:#717476;
  font-weight: 600;
}
.contacts li{
  padding: 0 0 20px 40px;
  display: block;
  color:#717476;
}
.copyright{
  padding: 25px 0;
  background-color: #e1e1e1;
  color:#b7acac;
  font-size: 16px;

}
.copyright p{
  width: 100%;
  text-align: center;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  